@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap');
 
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffd65a;
  border-radius: 8px;
  padding: 20px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  display: flex;
  justify-content: start;
  height: 100px;
}

.api-section {
  text-align: center;
}

.index-main {
  width: 100%;
  max-width: 1000px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 15px;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  margin-bottom: 30px;
}

.footer {
  background-color: #ffe203; 
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 15px 25px; 
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}

/* Text i footer */
.footer p {
  font-size: 20px;
  color: #292a2e;
  font-family: "Inter", sans-serif;
  margin: 0 auto; 
}

/* Styling på länken */
.footer a { 
  text-decoration: none;
  margin-left: auto; 
  transition: transform 0.3s ease-in-out;
  font-family: "Inter", sans-serif;
  color:#292a2e;
}

/* Ändrar textstorleken på länken när musen hovrar över*/
.footer a:hover {
  /* Ökar storlek från 20px till 24px */
  transform: scale(1.2);
}

/**========================================================================
 *                           Nuvarande Stad
 *========================================================================**/

.current-city {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffd65a;
  border-radius: 8px;
  padding: 20px;
}

.current-city h1 {
  background-color: #ff9d23;
  padding: 20px;
  border-radius: 20px;
}

.pollen-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
/**========================================================================
 *                           Andra Städer - DIV
 *========================================================================**/

/* HuvudKategori på andra städer sektionen: */

.other-cities-section {
  background-color: #ffd65a;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
}

/* Header på andra städer sektionen */
.other-cities-header {
  background-color: #ff9d23;

  border-radius: 20px;
  margin: 30px auto 0;
  text-align: center;
  width: 70%;
  padding: 20px;
}

/* Sektionen där alla pollenartiklarna hamnar i en rad på mobilskärm 
eller flera på rad på datorn */
.other-cities-article-section {
  background-color: #ffd65a;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 30px;
  gap: 10px;
}

/* I själva artikeln där pollendatan står */
.other-cities-article {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  width: 800px;
  border-radius: 30px;
  justify-content: space-between;
  padding: 20px;

  min-height: 200px;
}

/* TextKategori  */

/* Välj vilka städer du vill ska visas: */
.other-cities-title {
  /* Textstorlek */
  font-size: 1.5rem;
  text-align: center;
  margin: 20px;
}

/* Knappar och annat */

/* Filter sektionen med alla nman på städer */
.other-cities-filter {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Områden kring varje knapp */
.other-cities-squares {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

/* Styling för själva knappen */
.other-cities-button {
  background-color: #ffd65a;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 400;
  transition: 0.4s ease;
}

/* Hovereffekt för knappen */
/* Alltså vad som händer när man har muspekaren över knappen */
.other-cities-button:hover {
  font-size: 1.3rem;
  border-radius: 15px;
  font-weight: 600;
  transform: scale(1.03);
}

/* Stilen som sker när varje stad väljs och är "aktiv" */
.other-cities-button.active {
  color: white;
  background-color: brown;
  font-size: 1rem;
  border-radius: 15px;
  font-weight: 600;
}

/*========================================================================
 *                           Pollendatan
 *========================================================================**/

/* Datan som hämtas från POLLENAPI och läggs in i varje  */
/* Ruta för varje stad som väljs */
.pollen-header {
  background-color: #ff9d23;
  border-radius: 20px;
  margin: 0 auto;
  padding: 0.0006em;
  text-align: center;
}

.pollen-list {
  display: flex;
  flex-wrap: wrap; /* Gör att de går på en ny rad om det inte får plats */
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  border-radius: 20px;
}

.pollen-list ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.pollen-list li {
  background-color: lightgray;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

/**========================================================================
 *                           Media Querries
 *========================================================================**/

/* Iphone 14 Pro Max*/
@media screen and (max-width: 430px) {
  .footer {
    flex-direction: column; 
    text-align: center;
    padding: 15px; 
  }

  .footer a {
    margin-top: 10px; 
  }



.pollen-logo{
  max-width: 100px;
  max-height: 100px;

}

}




