@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lexend:wght@100..900&display=swap");

html,
body {
  height: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hindrar horisontell scroll */
}
.index-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Figtree", sans-serif;
  background-color: #000000;
}

.hide {
  display: none;
}

/**========================================================================
 *                           Header
 *========================================================================**/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

header img {
  width: 100%; /* Gör att bilden anpassar sig till skärmens bredd */
  height: auto; /* Behåller bildens proportioner */
}

.logo {
  width: 200px;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1.header-text {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

h2.header-text {
  font-size: 28px;
  font-weight: normal;
  margin: 5px 0;
  color: white;
}

.hero-image-container {
  width: 100%;
  max-width: 1000px;
}

.hero-image {
  width: 100%;
  height: auto; /* Behåll bildens proportioner */
  object-fit: cover; /* Gör att bilden täcker hela containern utan att förvrängas */
}

/**------------------------------------------------------------------------
 *                           Om oss sidan
 *------------------------------------------------------------------------**/

.api-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

/* Texten */
.api-info h1 {
  background-color: #ffe203;
  padding: 20px;
  color: black;
}

ul.api-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ffe203;
}

.api-link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
  color: #ffe203;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  list-style-type: none;
  font-size: 1.2rem;
  margin: 10px 0;
}

li a {
  text-decoration: none;
  font-weight: 600;
  color: #ffe203;
}

li a:hover {
  color: purple;
}

/* För NavLänkarna */

.index-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  background-color: #ffe203;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px 20px;
  font-weight: bold;
}

/* Text i footer */
.footer-desktop h3 {
  font-size: 1.2rem;
  color: #292a2e;
  font-family: "Inter", sans-serif;
}

/* Styling på länken */
.footer-desktop a {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  padding: 2px;
  color: #292a2e;
  text-decoration: none;
  font-size: 1.2rem;
  border: 2px solid #292a2e;

  transition: transform 0.3s;
}

/* Ändrar textstorleken på länken när musen hovrar över*/
.footer-desktop a:hover {
  transform: scale(1.2);
}

.footer-mobile {
  display: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;

  background-color: #ffe203;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px 20px;
  font-weight: bold;
}

/* Text i footer */
.footer-mobile h3 {
  font-size: 1.2rem;
  color: #292a2e;
  font-family: "Inter", sans-serif;
}

/* Styling på länken */
.footer-mobile a {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  padding: 2px;
  color: #292a2e;
  text-decoration: none;
  font-size: 1.2rem;
  border: 2px solid #292a2e;

  transition: transform 0.3s;
}

/* Ändrar textstorleken på länken när musen hovrar över*/
.footer-desktop a:hover {
  transform: scale(1.2);
}

/**========================================================================
 *                           Nuvarande Stad
 *========================================================================**/

.current-location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-city h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.current-location-pollen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pollen-info-text {
  font: 1.5rem;
}

.pollen-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  max-width: 150px;
  max-height: 150px;
  color: #ffe203;
}

.pollen-info h2 {
  font-size: 1.5rem;
  margin: 10px;
}

.pollen-info p {
  font-size: 1.2rem;
  margin: 10px;
}

.pollen-image {
  width: 70px;
  height: 70px;
}

/**========================================================================
 *                           Andra Städer - DIV
 *========================================================================**/

/* HuvudKategori på andra städer sektionen: */

.other-cities-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 50px;
}

/* Header där Andra Städer text ligger */
.other-cities-header {
  background-color: #ffe203;
  padding: 10px;
}

.other-cities-header h2 {
  font-size: 2rem;
  margin: 0;
  color: black;
  text-align: center;
  font-weight: 600;
}

/* Styling för själva knappen */
.other-cities-button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.other-cities-button {
  background-color: black;
  gap: 15px;
  font-weight: 500;
  max-width: 500px;
}

/* Hovereffekt för knappen */
/* Alltså vad som händer när man har muspekaren över knappen */
.other-cities-button:hover {
  background-color: black;
  color: yellow;
}

/* Stilen som sker när varje stad väljs och är "aktiv" */
.other-cities-button.active {
  color: white;
  background-color: #ffe203;
  border-color: black;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
}

/*========================================================================
 *                           Pollendatan
 *========================================================================**/

.pollen-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pollen-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.pollen-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pollen-data .pollen-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 20px;
  color: #ffe203;
}

.pollen-logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.city-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
  margin-top: 25px;
}

button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: yellow;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-top: 5px solid #ffe203;
  border-bottom: 5px solid #ffe203;
  width: 76%;
  padding-bottom: 2.5rem;
  color: #ffe203;
}

.info-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  flex-grow: 1;
}

/* ACTION KNAPPEN */
.action-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 28px;
  gap: 8px;
  isolation: isolate;

  /* Storlek & position */
  width: 250px;
  height: 45px;
  position: relative; /* Gör att du kan använda left */
  left: -370px; /* Värde för att flytta knappen mer åt vänster */

  /* Stil */
  background-color: #3733ff;
  border: none;
  border-radius: 0px; /*rundade hörn */
  color: white;
  font-family: "Figtree", sans-serif;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Hover-effekt */
.action-button:hover {
  transform: scale(1.05); /* Växer vid hover */
  background: #2a20e0; /* Lite mörkare blå */
}

/* Aktiv (klickad) */
.action-button:active {
  transform: scale(0.95); /* Tryck-effekt */
}

/**========================================================================
 *                           Media Querries
 *========================================================================**/

/* Media Query för stora skärmar */
@media (min-width: 769px) {
  .pollen-image {
    width: 150px;
    height: 150px;
  }

  .hero-image {
    height: 500px;
    width: 1700px;
  }
}
