.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffd65a;
  border-radius: 8px;
  padding: 20px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  font-family: "Helvetica";
}

header img {
  display: flex;
  justify-content: start;
  height: 100px;
}

.city-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 0;
  list-style: none;
}

.index-main {
  width: 100%;
  max-width: 1000px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 15px;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  margin-bottom: 30px;
}

/* Styling för footer bakgrund + copyright text */
.footer {
  /* Här kan ni ändra bakgrundsfärg */
  background-color: #ffd65a; 
  width: 100%;
  justify-content: space-between;
  border-radius: 8px;
  display: flex;
  align-items: center;
  /* Ändra textfärg */
  color: black;
  font-size: 12px;
  padding: 0 25px;
  font-weight: bold;
}

/* Styling på länken */
.footer a { 
    /* Ändra textfärg */
  color: black;
  text-decoration: none;
  font-size: 12px;
  margin-left: 15px;
  font-weight: bold;
  transition: transform 0.3s;
}

/* Ändrar textstorleken på länken när musen hovrar över*/
.footer a:hover {
  transform: scale(1.2); 
}

/**========================================================================
 *                           Nuvarande Stad
 *========================================================================**/

.current-city {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffd65a;
  border-radius: 8px;
  padding: 20px;
}

.current-city h1 {
  background-color: #ff9d23;
  padding: 20px;
  border-radius: 20px;
}

.pollen-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
/**========================================================================
 *                           Andra Städer - DIV
 *========================================================================**/

.other-cities-section {
  background-color: #ffd65a;
  border-radius: 8px;
  padding: 5px;
}

.other-cities-header {
  background-color: #ff9d23;
  
  border-radius: 20px;
  margin: 30px auto 0;
  text-align: center;
  width: 70%;
  padding: 20px;
}

.other-cities-article-section {
  background-color: #ffd65a;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 30px;
  gap: 10px;
}

/* Artikel rutan */
.other-cities-article {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  width: 300px;
  border-radius: 30px;
  justify-content: space-between;
  padding: 20px;

  min-height: 200px;
}

/* Rubrik på staden */
.pollen-header {
  background-color: #ff9d23;
  border-radius: 20px;
  margin: 0 auto;
  padding: 0.0006em;
  text-align: center;
}

.pollen-list {
  display: flex;
  flex-direction: column;
  justify-self: start;
  margin-top: 30px;
  border-radius: 20px;
}

.pollen-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pollen-list li {
  background-color: #f4f4f4; 
  padding: 10px;
  margin: 5px 0; 
  border-radius: 8px;
  text-align: center; 
}

/**========================================================================
 *                           Media Querries
 *========================================================================**/

/* Iphone 14 Pro Max*/
@media screen and (max-width: 430px) {
  .footer {
    flex-direction: column; 
    text-align: center;
    padding: 15px; 
  }

  .footer a {
    margin-top: 10px; 
  }
}