@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lexend:wght@100..900&display=swap");

html,
body {
  height: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hindrar horisontell scroll */
}
.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Figtree", sans-serif;
  background-color: #000000;
}

.hide {
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin: 0;
  width: 100%;
  height: 600px;
}

/**========================================================================
 *                           Header
 *========================================================================**/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

header img {
  width: 100vw; /* Gör att bilden anpassar sig till skärmens bredd */
  height: auto; /* Behåller bildens proportioner */
}

.logo {
  width: 200px;
  margin-bottom: 10px;
}

h1.header-text {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

h2.header-text {
  font-size: 28px;
  font-weight: normal;
  margin: 5px 0;
  color: white;
}

.hero-image {
  width: 100vw;
  height: auto; /* Behåll bildens proportioner */
  object-fit: cover; /* Gör att bilden täcker hela containern utan att förvrängas */
}

/**------------------------------------------------------------------------
 *                           Om oss sidan
 *------------------------------------------------------------------------**/

/**------------------------------------------------------------------------
 *                           Om oss sidan
 *------------------------------------------------------------------------**/

.api-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
  padding-bottom: 15%;
}

.api-info h1 {
  background-color: #ffe203;
  padding: 20px;
  color: black;
}

.api-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.api-links a {
  text-decoration: none;
  color: #ffe203;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  list-style-type: none;
  font-size: 1.2rem;
  margin: 10px 0;
}

li a {
  text-decoration: none;
  font-weight: 600;
  color: #ffe203;
  justify-content: center;
  align-items: center;
  text-align: center;
}

li a:hover {
  color: white;
}

/* För NavLänkarna */

.index-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 5px #ffe203;
}

/*Home.tsx*/
.footer-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffe203;
  width: 100vw;
  padding: 10px 20px;
  font-weight: bold;
  bottom: 0;
  padding-right: 50px;
}

/* Text i footer */
.footer-desktop h3 {
  font-size: 1.2rem;
  color: #292a2e;
  font-family: "Inter", sans-serif;
  text-align: center;
  flex-grow: 1; /* Detta gör att h3 expanderar och tar upp allt ledigt utrymme */
}

.footer-desktop-about h3 {
  font-size: 1.2rem;
  color: #292a2e;
  font-family: "Inter", sans-serif;
  text-align: center;
  flex-grow: 1; /* Detta gör att h3 expanderar och tar upp allt ledigt utrymme */
}

/* Styling på länken */
.footer-desktop a {
  display: flex;
  justify-content: flex-end;
  margin-right: 0px;
  padding: 2px;
  color: #292a2e;
  text-decoration: none;
  font-size: 1.2rem;
  border: 2px solid #292a2e;
  transition: transform 0.3s;
}

.footer-desktop a {
  margin-left: auto; /* kommer att tvinga länken att placeras längst åt höger */
}

/* Ändrar textstorleken på länken när musen hovrar över*/
.footer-desktop a:hover {
  transform: scale(1.2);
}

/*About.tsx*/
.footer-desktop-about {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffe203;
  width: 100vw;
  padding: 10px 20px;
  font-weight: bold;
  bottom: 0;
  position: sticky;
  margin-bottom: 0;
}

/* Styling på länken */
.footer-desktop-about a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  padding: 2px;
  color: #292a2e;
  text-decoration: none;
  font-size: 1.2rem;
  border: 2px solid #292a2e;
  transition: transform 0.3s;
}

/* Ändrar textstorleken på länken när musen hovrar över*/
.footer-desktop-about a:hover {
  transform: scale(1.2);
}

.footer-mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;

  background-color: #ffe203;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px 20px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
}

/* Text i footer */
.footer-mobile h3 {
  font-size: 1.2rem;
  color: #292a2e;
  font-family: "Inter", sans-serif;
}

/* Styling på länken */
.footer-mobile a {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  padding: 2px;
  color: #292a2e;
  text-decoration: none;
  font-size: 1.2rem;
  border: 2px solid #292a2e;

  transition: transform 0.3s;
}

/* Ändrar textstorleken på länken när musen hovrar över*/
.footer-desktop a:hover {
  transform: scale(1.2);
}

/**========================================================================
 *                           Nuvarande Stad
 *========================================================================**/

.current-location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-logo {
  margin: 10px;
}

.info-no-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
}

.city-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.current-city h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.current-location-pollen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pollen-info-text {
  font: 1.5rem;
}

.pollen-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  max-width: 150px;
  max-height: 150px;
  color: #ffe203;
}

.pollen-info h2 {
  font-size: 1.5rem;
  margin: 10px;
}

.pollen-info p {
  font-size: 1.2rem;
  margin: 10px;
}

.pollen-image {
  width: 70px;
  height: 70px;
}

/**========================================================================
 *                           Andra Städer - DIV
 *========================================================================**/

/* HuvudKategori på andra städer sektionen: */

.other-city-header {
  color: white;
}

.other-cities-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-top: solid 5px #ffe203;
}

/* Styling för själva knappen */
.other-cities-button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;

  margin-bottom: 50px;
}

.other-cities-button {
  background-color: black;

  color: #ffe203;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  border: solid 1px black;
  border-color: #ffe203;
  border-radius: 5px;
  box-sizing: border-box; /* Säkerställer att border inte påverkar storlek */
}

/* Hovereffekt för knappen */
/* Alltså vad som händer när man har muspekaren över knappen */
.other-cities-button:hover {
  background-color: black;

  color: #ffe203;
  border-color: #ffe203;
  border: 5px solid #ffe203;
    box-shadow: 0 0 10px 3px #ffe203;
}

/* Stilen som sker när varje stad väljs och är "aktiv" */
.other-cities-button.active {
  background-color: #ffe203;
  color: black;
}

/*========================================================================
 *                           Pollendatan
 *========================================================================**/

.pollen-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.pollen-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.pollen-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 25px;
}

.pollen-data .pollen-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 20px;
  color: #ffe203;
}

.pollen-name {
  margin-top: 20px;
}

.pollen-logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.city-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
  margin-top: 25px;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-top: 5px solid #ffe203;
  border-bottom: 5px solid #ffe203;

  width: 100%; /* Se till att bredden täcker hela viewporten */
  padding-bottom: 2.5rem;
  color: white;
}

.info-section article {
  width: 70%;
}

.info-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  flex-grow: 1;
}

/* ACTION KNAPPEN */
.action-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 28px;
  gap: 8px;

  /* Storlek & position */
  width: 250px;
  height: 45px;

  /* Stil */
  background-color: #3733ff;
  border: none;
  border-radius: 0px; /*rundade hörn */
  color: white;
  font-family: "Figtree", sans-serif;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Hover-effekt */
.action-button:hover {
  transform: scale(1.05); /* Växer vid hover */
  background: #2a20e0; /* Lite mörkare blå */
}

/* Aktiv (klickad) */
.action-button:active {
  transform: scale(0.95); /* Tryck-effekt */
}

/**------------------------------------------------------------------------
 *                           Questionmark-funktionen
 *------------------------------------------------------------------------**/

/* Allmän för allt som ligger i frågetecken */
/* Funkar för båda */

.questionmark-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #000;
  margin-bottom: 20px;
}

.questionmark-container img {
  border: 5px solid #ffe203;
  border-radius: 100%;
  padding: 15px;
  background-color: #292a2e;
}

.questionmark-popup-window {
  margin-top: 10px;
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffe203;
  border-radius: 10px;
  max-width: 700px;
  max-height: 400px;
  color: black;
  margin: 5px 10px;
  padding: 15px;
}

.questionmark-popup-window h2 {
  font-size: 1.3rem;
  margin: 10px;
  color: black;
}

/**========================================================================
 *                           Media Querries
 *========================================================================**/

/* Iphone 14 Pro Max*/
@media screen and (max-width: 430px) {
  .pollen-image {
    width: 75px;
    height: 75px;
  }

  .footer-desktop h3 {
    font-size: 10px;
  }
  .footer-desktop a {
    font-size: 10px;
  }

  .footer-desktop-about h3 {
    font-size: 10px;
  }
  .footer-desktop-about a {
    font-size: 10px;
  }

  .logo {
    width: 100px;
  }

  footer {
    background-color: #000;
  }

  .questionmark-popup-window {
    width: 90%;
  }

  .questionmark-popup-window h2 {
    font-size: 1rem;
  }

  .current-location-pollen {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .pollen-info {
    width: 100px;
    height: 100px;
    padding: 10px;
  }
}

/* Media Query för stora skärmar */
@media (max-width: 382px) {
  .city-name {
    font-size: 1rem;
  }
}

@media (max-width: 256px) {
  .city-name {
    font-size: 0.8rem;
  }
}

@media (max-width: 580px) {
  .footer-desktop h3 {
    font-size: 17px;
  }
  .footer-desktop a {
    font-size: 17px;
  }

  .footer-desktop-about h3 {
    font-size: 17px;
  }
  .footer-desktop-about a {
    font-size: 17px;
  }
}

@media (max-width: 515px) {
  .footer-desktop-about h3 {
    font-size: 14px;
  }
  .footer-desktop-about a {
    font-size: 14px;
  }
  .footer-desktop h3 {
    font-size: 14px;
  }
  .footer-desktop a {
    font-size: 14px;
  }
}

/* Media Query för stora skärmar */
@media (min-width: 769px) {
  .pollen-image {
    width: 150px;
    height: 150px;
  }

  .hero-image {
    height: 500px;
    width: 1700px;
  }
}
